graph {

}

node {
	size: 40px;
	fill-color: black;
	stroke-mode: plain;
	text-color: white;
}

node .in {
    size: 55px;
	fill-color: cyan;
	stroke-color: cyan;
	text-color: black;
}

node .out {
    size: 55px;
	fill-color: orange;
	stroke-color: orange;
	text-color: black;
}

node:clicked {
	fill-color: red;
}

edge .in {
  fill-color: cyan;
  stroke-color: cyan;
}